.login {  // This is on the BODY tag
  background: #202021;

  #login {
    padding: 5% 0 0;

    h1 a {
      color: #fff;
      font-size: 24px;
      height: auto;
      margin: 0 auto 20px;
      padding: 94px 0 0;
      text-indent: 0;
      width: auto;
    }
    form {
      border-radius: 3px;
      box-shadow: 0px 1px 16px #21759b;
    }
  }
  #nav,
  #backtoblog {
    text-align: center;

    a {
      color: #fff;
      opacity: 0.6;
    }
  }
  #piggybank a {
    background: url("images/customized-by-gravitystack.svg") center no-repeat;
    background-size: contain;
    display: block;
    height: 38px;
    margin: 32px 0 16px;
    padding: 0 24px;
    text-indent: -9999px;
  }
}
